<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="author" content="Brian Pinto">
        <meta name="description" content=" ">
        <meta name="keywords" content="WEBAPP, HEROKU">
        <title>App: Name</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body>
        <header class="header">
            <div class="app-heading">
                <h1>App title here</h1>
                <h2>Welcome!</h2>
            </div>
        </header>
        <main class=content>
            
        </main>
        <footer>
            <div class="footer-wrapper">
                <div class="copyright-wrapper">
                    &copy 2020 Brian Pinto
                </div>
            </div>
        </footer>
    </body>
</html>
